@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}


.toto {
  height: 100%;
  aspect-ratio: 1 / 1;
  display: block;
  width: 260px;
  min-width: auto;
}

.toto img {
  object-fit: cover;
  height: 100%;
}
